.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#channels {
    width: 400px;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 0  8px 0 black;
    padding: 5px;
    box-sizing: border-box;
}

.channel {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid gray;
}

.channel > img {
    width: 40px;
    margin-right: 20px;
}

.channel > span {
    margin-right: 15px;
}

.tvshows {
    width: 400px;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 0  8px 0 black;
    padding: 5px;
    box-sizing: border-box;
}

.timeline {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid blue;
}

.tvshows-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.timeline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline > span {
    padding: 5px;
    box-sizing: border-box;
}

.progress-line {
    width: 100%;
    height: 5px;
}

.progress-line_action {
    background-color: green;
}

.progress-line_action > div {
    background-color: red;
    height: 5px;
}